services:
  database:
    image: postgres:18.1-alpine
    environment:
      POSTGRES_USER: bustracker
      POSTGRES_PASSWORD: QsPkHJ0696UDf6UX
    ports:
      - 5432:5432
    volumes:
      - database_data:/var/lib/postgresql/data

  redis:
    image: redis:8.4.0-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

volumes:
  database_data:
  redis_data: