@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: Achemine;
		src: url("./fonts/achemine-regular-webfont.woff2");
	}

	@font-face {
		font-family: Achemine;
		font-weight: bold;
		src: url("./fonts/achemine-bold-webfont.woff2");
	}

	@font-face {
		font-display: block;
		font-family: "0808B2E1";
		src: url("./fonts/girouette/0808B2E1.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1310C2E1";
		src: url("./fonts/girouette/1310C2E1.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "0505SUPX";
		src: url("./fonts/girouette/0505SUPX.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1107SUPX";
		src: url("./fonts/girouette/1107SUPX.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1407SUPX";
		src: url("./fonts/girouette/1407SUPX.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "14LUPLAN";
		src: url("./fonts/girouette/14LUPLAN.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1507SUPX";
		src: url("./fonts/girouette/1507SUPX.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1508C2E1";
		src: url("./fonts/girouette/1508C2E1.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1508SUPX";
		src: url("./fonts/girouette/1508SUPX.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1510N2E1";
		src: url("./fonts/girouette/1510N2E1.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1513B3E1";
		src: url("./fonts/girouette/1513B3E1.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1710SUPX";
		src: url("./fonts/girouette/1710SUPX.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "METRO";
		src: url("./fonts/girouette/METRO.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "DUHAMEL-24-22-2";
		src: url("./fonts/girouette/DUHAMEL-24-22-2.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "1510N2E1-TCAR";
		src: url("./fonts/girouette/1510N2E1-TCAR.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "LUMIPLAN-A";
		src: url("./fonts/girouette/LUMIPLAN-A.ttf");
	}

	@font-face {
		font-display: block;
		font-family: "LUMIPLAN-2";
		src: url("./fonts/girouette/LUMIPLAN-2.ttf");
	}

	:root {
		--background: 330.38 83.33% 27.65%;
		--foreground: 100 100% 100%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 100 100% 100%;
		--primary-foreground: 0 0% 0%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 0 0% 3.9%;
		--foreground: 0 0% 98%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 330 100% 27.45%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@media (prefers-color-scheme: dark) {
	.leaflet-control-locate-location-arrow {
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M445 4 29 195c-48 23-32 93 19 93h176v176c0 51 70 67 93 19L508 67c16-38-25-79-63-63z"/></svg>') !important;
	}

	.leaflet-control-locate-spinner {
		background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M304 48a48 48 0 1 1-96 0 48 48 0 0 1 96 0zm-48 368a48 48 0 1 0 0 96 48 48 0 0 0 0-96zm208-208a48 48 0 1 0 0 96 48 48 0 0 0 0-96zM96 256a48 48 0 1 0-96 0 48 48 0 0 0 96 0zm13 99a48 48 0 1 0 0 96 48 48 0 0 0 0-96zm294 0a48 48 0 1 0 0 96 48 48 0 0 0 0-96zM109 61a48 48 0 1 0 0 96 48 48 0 0 0 0-96z"/></svg>') !important;
	}

	.leaflet-control-zoom-in,
	.leaflet-control-zoom-out,
	.leaflet-control-locate,
	.leaflet-bar-part {
		background-color: rgb(23, 23, 23) !important;
	}

	.leaflet-control-zoom-in:hover,
	.leaflet-control-zoom-out:hover,
	.leaflet-control-locate:hover,
	.leaflet-bar-part:hover {
		background-color: rgb(50, 50, 50) !important;
	}

	.leaflet-popup-content-wrapper,
	.leaflet-popup-tip {
		background-color: rgb(23, 23, 23) !important;
		border-color: rgb(128, 128, 128);
		color: white !important;
	}

	.leaflet-bar {
		border-color: white !important;
		color: white;
	}

	.leaflet-control-attribution {
		background-color: rgba(0, 0, 0, 0.7) !important;
		color: white !important;
	}
}

.leaflet-control-container {
	color: black !important;
}

.leaflet-bar {
	border-width: 1px !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
	border-width: 1px;
}

.leaflet-fade-anim .leaflet-popup {
	transition-duration: 0.15s !important;
}

.leaflet-container {
	font-family: inherit;
}

.leaflet-container a {
	color: inherit !important;
}

.leaflet-popup-content {
	margin: 0 !important;
	padding: 0 0 10px 0 !important;
	width: max-content !important;
}

.leaflet-popup-content-wrapper {
	border-radius: 0px !important;
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
	padding: 0 !important;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
