version: '3.9'

services:
  database:
    image: postgres:18.2-alpine
    environment:
      - POSTGRES_USER=bustracker
      - POSTGRES_PASSWORD_FILE=/run/secrets/database_password
    ports:
      - 5432:5432
    secrets:
      - database_password
    volumes:
      - database_data:/var/lib/postgresql

  redis:
    image: redis:8.6.0-alpine
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data

  server:
    image: ghcr.io/kevinbioj/bus-tracker-2/server:sha-${GITHUB_SHA}
    environment:
      - DATABASE_URL=postgresql://bustracker:{PASSWORD_FILE}@database:5432/bustracker
      - DATABASE_PASSWORD_FILE=/run/secrets/database_password
      - REDIS_URL=redis://redis:6379
    secrets:
      - database_password
  
  client:
    image: ghcr.io/kevinbioj/bus-tracker-2/client:sha-${GITHUB_SHA}
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
        mode: host

secrets:
  database_password:
    name: bus-tracker_database-password
    external: true

volumes:
  database_data:
    name: bus-tracker_database-data
    external: true

  redis_data:
    name: bus-tracker_redis-data
    external: true
